body{
    color: #111;
    background:lightgray;
    
}
header{
    border-radius: 50px;
    color:black;
    background: rgb(219,214,105);
background: linear-gradient(90deg, rgba(219,214,105,1) 0%, rgba(231,123,80,1) 24%, rgba(245,52,52,1) 50%, rgba(244,175,119,1) 69%, rgba(236,119,41,1) 100%);
padding: 20px;

}
footer{

}
h1{
    color: white; text-shadow: black 0 0.1em 0.2em;
}

